[user]
	name = Niklas Kappler
	email = mail@niklas-kappler.de
	signingKey = 9E0D5D04

[github]
  user = niklaskappler

[core]
	excludesfile = ~/.gitignore_global
    editor = nano

[commit]
	template = ~/.gitmessage
	gpgSign = true

[tag]
	gpgSign = true

[init]
	defaultBranch = main
