[user]
	name = Niklas Kappler
	email = mail@niklas-kappler.de
	signingKey = 9E0D5D04

# [includeIf "gitdir:/Users/niklaskappler/Projects/niklaskappler/"]
#     path = /Users/niklaskappler/Projects/niklaskappler/.gitconfig
#
# [url "github-work:niklaskappler/"]
#     insteadOf = git@github.com:niklaskappler/

[github]
  user = niklaskappler

[core]
	excludesfile = ~/.gitignore_global
    editor = nano
	autocrlf = input

[commit]
; 	template = ~/.gitmessage
	gpgSign = true

[tag]
	gpgSign = true

[init]
	defaultBranch = main

[gpg]
	program = /usr/local/bin/gpg
